/* estilos/style.css */

/*

Paleta de cores:
#022601 fonte
#1b4001
#65a603
#467302 fundo
#d2d904

*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #467302;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #022601;
}

main {
    background-color: white;
    border-radius: 5px;
    height: 100vh;
}

header {

    /* background: url('../imagens/peixinho.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: 200px; /* Ajuste a altura conforme necessário */
    text-align: center;
    padding: 20px;
    color: #022601;
}


header img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    background-color: #022601;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

h1, h2, h3 {
    text-align: center;
}

section {
    padding: 20px;
}

/* Estilos para as seções com fundo */
.bg-cebola {
    /* background: url('../imagens/cebola.jpg') no-repeat center center fixed; */
    background-size: cover;
    
}

.bg-hortela {
    /* background: url('../imagens/hortela.jpg') no-repeat center center fixed; */
    background-size: cover;
    
}

.bg-peixinho {
    /* background: url('../imagens/peixinho.jpg') no-repeat center center fixed; */
    background-size: cover;
    
}

.bg-rabanete {
    /* background: url('../imagens/rabanete.jpg') no-repeat center center fixed; */
    background-size: cover;
    
}
